artifacts/lensflow-site/public/videos/sample-v4.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/lensflow/public/videos/sample-v4.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/LensFlow-Reel-Creator-May-v4_1780233746149.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/lensflow/public/backgrounds/bg-reel-2.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/LensFlow-Reel-Creator-May-v4_1780494350935.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/LensFlow__The_Future_of_Real_Estate_Marketing_1080p_1780650741305.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/lensflow-site/public/videos/how-it-works.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Sophie_Presenter_1780676036054.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/LensFlow__The_Future_of_Real_Estate_Marketing_1080p_1780756668434.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/lensflow-site/public/presenters/sophie.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Sophie_Presenter_1780765611409.mp4 filter=lfs diff=lfs merge=lfs -text
