modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["hubspot:1.0.0", "stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 20161
externalPort = 3000

[[ports]]
localPort = 23780
externalPort = 3001

[[ports]]
localPort = 25401
externalPort = 3003

[[ports]]
localPort = 25402
externalPort = 4200

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-dfdae97e-a094-4e9a-8807-6cead5534551"

[userenv]

[userenv.shared]
HEYGEN_VOICE_MIA = "05f1da4dc12744c087dace9e0651a6e0"
HEYGEN_VOICE_SOPHIE = "1d89cde0283949ecb68632f401340033"
HEYGEN_VOICE_OLIVER = "a9f542e71456434a837372cace6094cc"
HEYGEN_VOICE_JAMES = "f68d174c82d6431cbe604a9d05453863"
