modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["hubspot:1.0.0", "stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18224
externalPort = 5000

[[ports]]
localPort = 20161
externalPort = 3000

[[ports]]
localPort = 23780
externalPort = 3001

[[ports]]
localPort = 25401
externalPort = 3003

[[ports]]
localPort = 25402
externalPort = 4200

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-dfdae97e-a094-4e9a-8807-6cead5534551"

[userenv]

[userenv.shared]
HEYGEN_AVATAR_MIA = "91141b5f57114fccb565ab32ca058a1a"
HEYGEN_AVATAR_OLIVER = "b88ace7a30a34a76ae92a16dd84c18af"
HEYGEN_AVATAR_JAMES = "9f2454deef0840008f9d6f6753c6de7b"
HEYGEN_AVATAR_SOPHIE = "267832a040cd46998928c37498777215"
